* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator{
    width: 35vw;
    height: fit-content;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    background-color: #000040;
}

#display{
    height: 2.5em;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #ffffff;
}

td{
    width: 10vw;
}

input[type=button]{
    width: 100%;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 3px;
}

input.util{
    background-color: #5877d4;
}

#enter{
    background-color: #61448a;
    color:#ffffff;
}